h1 {
font-family: 'Montserrat';
color: #fff;
font-size: 4rem;
line-height: 1.5;
font-weight: 900;
}

#title {
    background-color: #ff4c68;
}

#features {
    background-color: white;
}

#testimonials {
    background-color: black;
}

#press {
    background-color: white;
}

.container-fluid {
    padding: 3% 15%;

}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Monsterrat-Black";
    font-size: 1.2rem;
}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 2.5rem;
    color: #fff;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
}